<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Doctor recommendation system</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 
    <script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"> 
    </script> 
 <style>
  html {
   padding:50px;
  } 
   a:link {
   	margin-right: 10px;
   }
 </style>
</head>
<body>
	<!-- <div id="links"> 
		<a href="SignIn.html"> Sign In </a>
		<a href="SignUP.html"> Sign Up </a>
	</div> -->

<div class="container">	
	<a href="/login" class="btn btn-lg btn-success pull-right">Login</a>
	<a href="/signup" class="btn btn-lg btn-info pull-right">Register</a>
</div>

<div>
	<img src="background.png" alt="image" />
</div>

</body>
</html>